<div style="display: none">
    <div id="twodhelpcontent">
    This table displays the number of roadmap cards at different stages within each engineering group in Linaro. Click on the group name to see a burndown chart and table just for the group; click on the numbers in the table to see the items within the individual group at a specific stage.
    </div>
    <div id="headerhelpcontent">
    The charts and table below display the status of Linaro engineering cards in the current engineering cycle. Click on items in the table to jump to relevant pages. This page is updated once every 24 hours.
    </div>
    <div id="burndownhelpcontent">
    This chart displays progress of cards represented by the supporting blueprints in the current engineering cycle. Mousing over the bars displays the numbers of blueprints in different statuses on particular dates in the cycle.
    </div>
    <div id="categoryhelpcontent">
    This chart displays the total number of cards at a particular stage at the current moment in time.
    </div>
    <div id="componenthelpcontent">
    The charts and table below display the status of Linaro engineering cards in the current engineering cycle. Click on items in the list of blueprints to jump to relevant pages in JIRA. This page is updated once every 24 hours.
    </div>
</div>
